<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.points.article.mapper.ArticleMapper">

    <sql id="selectVO">
        select id,
        title,
        content,
        category_id,
        article_type,
        article_cover,
        is_appoint,
        status,
        author_id,
        publish_time,
        read_counts,
        comment_counts,
        create_time,
        update_time
    </sql>

</mapper>
